# encoding:utf-8
import os.path
 
SITE_SRC_ROOT = os.path.dirname(__file__) 
LOG_FILENAME = 'django.lanai.log'
 
#for logging
import logging
logging.basicConfig(filename=os.path.join(SITE_SRC_ROOT, 'log', LOG_FILENAME), level=logging.DEBUG,)
 
DATABASE_NAME = ''             # Or path to database file if using sqlite3.
DATABASE_USER = ''               # Not used with sqlite3.
DATABASE_PASSWORD = ''               # Not used with sqlite3.
DATABASE_ENGINE = ''  #mysql, etc
 
#Moved from settings.py for better organization. (please check it up to clean up settings.py)
 
#email server settings
SERVER_EMAIL = ''
DEFAULT_FROM_EMAIL = 'team@qna.com'
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_SUBJECT_PREFIX = '[qna.com]'
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT='587'
EMAIL_USE_TLS=True
 
#LOCALIZATIONS
TIME_ZONE = 'Asia/Chongqing Asia/Chungking'
# LANGUAGE_CODE = 'en-us'
 
USE_I18N = True
LANGUAGE_CODE = 'en'
EMAIL_VALIDATION = 'off'
MIN_USERNAME_LENGTH = 1
EMAIL_UNIQUE = False
APP_URL = 'http://server.com' #used by email notif system and RSS
