{% extends "app_base.html" %}
<!-- privacy.html -->
{% load extra_tags %}
{% load i18n %}
{% load humanize %}
{% block title %}{% spaceless %}{% trans "Privacy policy" %}{% endspaceless %}{% endblock %}
{% block forejs %}
{% endblock %}
{% block content %}
<div class="app-block">
	<h3>{% trans "Privacy policy" %}</h3>
<div class="app-block-content">
    <p>
		{% trans "general message about privacy" %}
    </p>
    
        <h4 class="subtitle">{% trans "Site Visitors" %}</h4>
    <p>    
	{% trans "what technical information is collected about visitors" %}
    </p>
    
        <h4 class="subtitle">{% trans "Personal Information" %}</h4>
    <p>   
		{% trans "details on personal information policies" %}
    </p>
   
        <h4 class="subtitle">{% trans "Other Services" %}</h4>
     <p>   
	 {% trans "details on sharing data with third parties" %}
    </p>
    
        <h4 class="subtitle">Cookies</h4>
    <p>
		{% trans "cookie policy details" %}
    </p>
        <h4 class="subtitle">{% trans "Policy Changes" %}</h4>
    <p>{% trans "how privacy policies can be changed" %}
    </p>
    <br><br>
</div>
</div>
{% endblock %}
<!-- end privacy.html -->


