/* Generics */
.clear { clear: both; height: 0; }
.yui-skin-app body { font: normal 12px/1.5em "Lucida Grande", "Helvetica Neue", Arial, sans-serif; }
.yui-skin-app h1 { margin: 15px 0; font-size: 22px; font-weight: normal; }
.yui-skin-app h2 { font-size: 22px; margin: 15px 0; font-weight: normal; }
.yui-skin-app h3 { font-size: 18px; margin: 10px 0; font-weight: normal; }
.yui-skin-app h4 { font-size: 16px; margin: 10px 0; font-weight: normal; }
.yui-skin-app hr { height: 1px; border: 0; }
.yui-skin-app p { margin: 15px 0;  font-size: 12px; line-height: 20px; }
.yui-skin-app img { border: none; }
.yui-skin-app strong { font-weight:bold; }
.yui-skin-app em { font-style:italic; }
.yui-skin-app a:link, a:visited { text-decoration: none; }
.yui-skin-app abbr,
.yui-skin-app acronym { border-width:0 0 1px; border-style: dashed; cursor:help; }


/* Make the page full bleed */
.yui-skin-app #doc3 { margin:0; }

/* Header */
.yui-skin-app .app-hd { padding:10px 0px 0px 10px; position: relative; }
.yui-skin-app .app-hd h1 { font-size: 24px; padding: 0px 4px; margin:0px 5px; 
     -moz-border-radius: 4px;
	     -webkit-border-radius: 3px;
}
.yui-skin-app .app-hd .logo {margin: 0; padding: 0px 0px; float: left;}
.yui-skin-app .app-hd .tagline {margin: 6px 0px 0px 105px; width: 455px; font-size: 14px; line-height: 1.16em;}
.yui-skin-app .app-hd .tagline a:link, .yui-skin-app .app-hd .tagline a:visited, .yui-skin-app .app-hd .tagline a:hover, .yui-skin-app .app-hd .tagline a:active { text-decoration: none;}
.yui-skin-app .app-hd .app-nav {width: 100%;}
.yui-skin-app .app-hd .app-nav-rhs { position: absolute; top: 5px; right: 20px; }
.yui-skin-app .app-hd .app-nav-rhs ul { margin: 1px; padding: 1px; list-style-type: none; display:inline;}
.yui-skin-app .app-hd .app-nav-rhs ul li {float: left; padding: 0px 5px; display:inline}
.yui-skin-app .app-hd .app-nav-rhs li a { font-size:95%;}
.yui-skin-app .app-hd .app-nav-rhs ul li a:link, .yui-skin-app .app-hd .app-nav-rhs ul li a:visited, .yui-skin-app .app-hd .app-nav-rhs ul li a:hover, .yui-skin-app .app-hd .app-nav-rhs ul li a:active { text-decoration: none; }
.yui-skin-app .app-hd .app-search {margin-left:32%; width:60%; margin-bottom:15px;}
.yui-skin-app .app-hd .app-search #searchInput {width:65%;height:25px; margin:0; outline:0; vertical-align:top;} 
.yui-skin-app .app-hd .app-search #searchButton {height:30px; text-align:center; font-size:17px; width:26%; margin-left:0; font-weight:800}

/* Body */
.yui-skin-app .app-bd  { width: 95%;}
.yui-skin-app .app-bd .teaser p { margin-left: 1px; }
.yui-skin-app .app-bd { padding:1.5em 1em; }
.yui-skin-app .app-bd h1 { font-size: 167%;  font-weight: bold;  margin:1em 1%; }  /* This style serves purely as a warning - if you see it in the page, remove the tag!  Only one h1 allowed in page! */
.yui-skin-app .app-bd h2 { font-size:153.9%; margin: 0 0 0.4em 0.4em; }
.yui-skin-app .app-bd h3 { margin: 10px 0 0 0; background-color: none; padding: 5px 5px 5px 15px; font-size:19px; }  /* Coloured block headings */
.yui-skin-app .app-bd h4 { margin: 10px 0 0px 0; background-color: none; font-size:16px; }
.yui-skin-app .app-bd h5 { font-size:123.1%; margin:0.6em 1.2em; }
.yui-skin-app .app-bd ul { padding-left: 0; }
.yui-skin-app .app-bd ul li { font-size:12px; margin-left: 10px;}

/* Basic block */
.yui-skin-app .app-bd p { margin:15px 0; font-size:12px; line-height:20px; }
.yui-skin-app .app-bd .app-block {  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px; margin-bottom:20px; padding-bottom: 20px; background: transparent; padding-top:1px; margin-top:20px;}
.yui-skin-app .app-bd .app-block .app-block-content { padding-left:15px; padding-right:15px; padding-bottom:20px; padding-top:10px;}
.yui-skin-app .app-bd .app-menu { border-bottom:0px; margin-top:-28px;}
.yui-skin-app .app-bd .app-menu ul {margin: 0; padding: 0; list-style-type: none;}
.yui-skin-app .app-bd .app-menu ul li a {margin-right: 5px; padding: 3px 10px; display:block; float:right; font-size:16px; }
.yui-skin-app .app-bd .app-block .app-menu ul li:hover a {font-weight:800}


/*Question block*/
.yui-skin-app .app-bd .app-block .app-block-content .question {width:98%; margin-bottom:7px; padding:10px 5px 5px 10px;}
.yui-skin-app .app-bd .app-block .app-block-content .question .summary { float:left; width:75%; padding-top:2px;}
.yui-skin-app .app-bd .app-block .app-block-content .question .summary p.title {font-size:15px; margin-top:0}
.yui-skin-app .app-bd .app-block .app-block-content .question .summary p.content {font-size:12px; margin-top:3px; margin-left:15px;}
.yui-skin-app .app-bd .app-block .app-block-content .question .summary span.info {font-size:11px; margin-left:20px;}
.yui-skin-app .app-bd .app-block .app-block-content .question .box-answers,.yui-skin-app .app-bd .app-block .app-block-content .question .box-votes, .yui-skin-app .app-bd .app-block .app-block-content .question .box-views {text-align:center; float:left; margin-right:4px; width:7%; height:40px; padding:2px 2px 2px 2px;}
.yui-skin-app .app-bd .app-block .app-block-content .question .box-answers h2,.yui-skin-app .app-bd .app-block .app-block-content .question .box-votes h2, .yui-skin-app .app-bd .app-block .app-block-content .question .box-views h2 {font-size:16px; font-weight:800; margin-bottom:0; margin-top:2px; }
.yui-skin-app .app-bd .app-block .app-block-content .question .box-answers p,.yui-skin-app .app-bd .app-block .app-block-content .question .box-votes p, .yui-skin-app .app-bd .app-block .app-block-content .question .box-views p {font-size:10px; font-weight:400; margin:0;}
.yui-skin-app .app-bd .app-block .app-block-content .question .favourites-count {float:left;}
.yui-skin-app .app-bd .app-block .app-block-content .question .favourites-count-off {float:left;}
.yui-skin-app .app-bd .app-block .app-block-content .question .favourites-empty {float:left;}
.yui-skin-app .app-bd .app-block .app-block-content .question .status {font-size:12px; float:left}

/*Question page */
.yui-skin-app .app-bd .app-block .app-block-content .question-page {border:1px solid #000; padding:2px;}
.yui-skin-app .app-bd .app-block .app-block-content .question-page .buttons {float:left; width:30px;} 
.yui-skin-app .app-bd .app-block .app-block-content .question-page .buttons .vote-number {font-size:12px; font-style:italic;}
.yui-skin-app .app-bd .app-block .app-block-content .question-page .buttons .question-img-favorite {margin-top:8px;}
.yui-skin-app .app-bd .app-block .app-block-content .question-page .question-body {float:left;}
.yui-skin-app .app-bd .app-block .app-block-content .question-page .question-body .content {font-size:15px; font-weight:500;}
.yui-skin-app .app-bd .app-block .app-block-content .question-page .question-body #question-tags {margin:3px 2px;}
.yui-skin-app .app-bd .app-block .app-block-content .question-page .question-body .actions {width:300px; font-style:italic;}
.yui-skin-app .app-bd .app-block .app-block-content .question-page .question-body .details {margin-top:15px;}
.yui-skin-app .app-bd .app-block .app-block-content .question-page .question-body .details .date {font-size:11px; float:left;}
.yui-skin-app .app-bd .app-block .app-block-content .question-page .question-body .details .user {float:left;}
.yui-skin-app .app-bd .app-block .app-block-content .post-comments {margin:10px 20px;}
.yui-skin-app .app-bd .app-block .app-block-content .post-comments a {font-style:italic;}
.yui-skin-app .app-bd .app-block .app-block-content .post-comments comments {/*background:#fff;*/}
.yui-skin-app .app-bd .app-block .app-block-content .question-status h3 {font-size:15px; margin-left:15pz;}
.yui-skin-app .app-bd .app-block .app-block-content .answer {padding:15px;}
.yui-skin-app .app-bd .app-block .app-block-content .answer .buttons {float:left; width:30px;}
.yui-skin-app .app-bd .app-block .app-block-content .answer .buttons .vote-number {font-size:12px; font-style:italic;} 
.yui-skin-app .app-bd .app-block .app-block-content .answer .answer-img-accept {margin-top:8px;}
.yui-skin-app .app-bd .app-block .app-block-content .answer .answer-body {float:left; width:95%;}
.yui-skin-app .app-bd .app-block .app-block-content .answer .answer-body .answer-content {font-size:15px; font-weight:500;}
.yui-skin-app .app-bd .app-block .app-block-content .answer .answer-body .actions {width:300px; font-style:italic;}
.yui-skin-app .app-bd .app-block .app-block-content .answer .answer-body .details {margin-top:15px;}
.yui-skin-app .app-bd .app-block .app-block-content .answer .answer-body .details .date {font-size:11px; float:left;}
.yui-skin-app .app-bd .app-block .app-block-content .answer .answer-body .details .user {float:left;}

/*User*/
.yui-skin-app .app-bd .app-block .app-block-content .users {margin-left:20px; margin-right:20px;}
.yui-skin-app .app-bd .app-block .app-block-content .users table.list-table {border-spacing:5px;}
.yui-skin-app .app-bd .app-block .app-block-content .users .user {margin-left:3px; margin-right:3px;}
.yui-skin-app .app-bd .app-block .app-block-content .users .user ul {list-style-type:none; margin-top:10px; }
.yui-skin-app .app-bd .app-block .app-block-content .users .user ul li.score {text-align:right; font-style:italic; margin-top:3px; display:inline;}
.yui-skin-app .app-bd .app-block .app-block-content .users .user .thumb {margin-bottom:3px; display:inline}
.yui-skin-app .app-bd .app-block .app-block-content .user-stats {margin-right:20px; margin-left:20px; padding:8px 5px 8px 5px;}
.yui-skin-app .app-bd .app-block .app-block-content .user-stats .count {float:left; margin-left:5px; margin-right:3px;margin-bottom:5px;font-size:12px;}
.yui-skin-app .app-bd .app-block .app-block-content .user-stats .count span.vote-count {text-align:center; font-style:italic; float:left;}
.yui-skin-app .app-bd .app-block .app-block-content .user-stats .description {font-size:16px; font-weight:600;}.
.yui-skin-app .app-bd .app-block .app-block-content .user-stats-table .answer-summary {font-size:12px;}
.yui-skin-app .app-bd .app-block .app-block-content .user-stats-table .answer-summary .answer-votes {float:left;}
.yui-skin-app .app-bd .app-block .app-block-content .user-stats-table .answer-summary .answer-link {font-size:14px; text-decoration:none;margin-left:30px;float:left;}

/*tags*/
.yui-skin-app .app-bd .app-block .app-block-content .tags a {font-size:13px; font-weight:700; float:left; margin-right:3px; margin-left:3px;}
.yui-skin-app .app-bd .app-block .app-block-content .tags span.tag-number {font-size:11px;}

/* Extend block and header to have rounded corners */
.yui-skin-app.rounded #hd .yui-g,
.yui-skin-app.rounded #hd .yui-g ul li,
.yui-skin-app.rounded #hd .yui-g ul li a,
.yui-skin-app.rounded .app-bd .app-tabs,
.yui-skin-app.rounded .app-bd .app-tabs ul li,
.yui-skin-app.rounded .app-bd .app-tabs ul li a,
.yui-skin-app.rounded .app-bd h3 {
    -moz-border-radius-topright:7px;
    -moz-border-radius-topleft:7px;
    -webkit-border-top-right-radius:7px;
    -webkit-border-top-left-radius:7px;
}

/* Style the horizontal rules inside .block */
.yui-skin-app .app-bd hr { height:1px; border:0; }

/* Sidebar */
.yui-skin-app .app-bd .app-sidebar h3 { padding: 5px 10px; font-weight: bold; font-size: 13px; margin-bottom:10px;;}
.yui-skin-app .app-bd .app-sidebar p { margin:1px 1px; }
.yui-skin-app .app-bd .app-sidebar ul { padding-left: 0; }
.yui-skin-app .app-bd .app-sidebar ul li { margin-top:-1px; }
.yui-skin-app .app-bd .app-sidebar ul li a { display:block; padding:0.5px 0; text-decoration:none; }
.yui-skin-app .app-bd .app-sidebar ul li a:hover, .yui-skin-app .app-bd .app-sidebar ul li a:active {text-decoration:underline; } 
.yui-skin-app .app-bd .app-sidebar .app-notice {padding: 0 10px; }
.yui-skin-app .app-bd .app-sidebar .app-notice h2 {font-size:16px; margin: 5px 0; }
.yui-skin-app .app-bd .app-sidebar .app-notice p {font-size:12px;}
.yui-skin-app .app-bd .app-sidebar .question-box {margin-bottom:20px; margin-top:20px}
.yui-skin-app .app-bd .app-sidebar .question-box h4 {font-size:19px;}
.yui-skin-app .app-bd .app-sidebar .question-box .question-input {width:100%; height:80px; margin-bottom:10px;}
.yui-skin-app .app-bd .app-sidebar .question-box .question-submit {width:100%; height:30px; font-size:16px; text-align:center;}

/* Footer */
.yui-skin-app .app-ft {border-top-width:1px; border-top-style:none; padding-bottom: 20px;}

/* Custom Classes */
.yui-skin-app .small {  font-size: 11px; }
.yui-skin-app .text-left { text-align:left; }
.yui-skin-app .text-right { text-align:right; }
.yui-skin-app .text-center { text-align:center; }
.yui-skin-app .clear { clear:both; }
.yui-skin-app  h4.subtitle {font-size:14px; font-weight:700;}

.yui-skin-app .checkbox, .radio {width: 19px; height: 25px; padding: 0 5px 0 0; background: url(../img/checkbox.gif) no-repeat; display: block; clear: left; float: left;}
.yui-skin-app .radio {background: url(../img/radio.gif) no-repeat;}
.yui-skin-app span.select {position: absolute; width: 100px; height: 15px; padding: 0px 18px 0px 10px; color: #fff; font: 11px/16px arial,sans-serif; background: url(../img/select.png) no-repeat; overflow: hidden; }

/* Open ID */
.yui-skin-app .openid_large_btn {width: 100px; height: 60px; border: 1px solid #DDD; margin: 3px; float: left;}
.yui-skin-app .openid_small_btn {width: 24px; height: 24px; border: 1px solid #DDD; margin: 3px; float: left;}
.yui-skin-app a.openid_large_btn:focus {outline: none;}
.yui-skin-app a.openid_large_btn:focus {-moz-outline-style: none;}
.yui-skin-app .openid_selected { border: 4px solid #DDD;}
.yui-skin-app #openid_btns, #openid_btns br {clear: both;}
.yui-skin-app #openid_highlight {padding: 3px; background-color: #FFFCC9; float: left;}

/* Default app Skin Colour Scheme */

/* Generics */
html {background-color:#ddd;}
body.yui-skin-app { color: #333; background-color: #EBEBEB; }
.yui-skin-app a:link, a:visited { color: #07b; }
.yui-skin-app a, a:hover, a:active { color: #d30; }
.yui-skin-app abbr,
.yui-skin-app acronym { border-color: #000; }
.yui-skin-app h1 { color: #444 }
.yui-skin-app h2 { color: #444}
.yui-skin-app h3 { color: #444}

/* Header */
.yui-skin-app .app-hd {color:#fff}
.yui-skin-app .app-hd {background-color:/*#232C30*/#040C72; }
.yui-skin-app .app-hd .logo {margin: 0; padding: 0px 0px; float: left;}
.yui-skin-app .app-hd .tagline { color:#fff; }
.yui-skin-app .app-hd .tagline a:link, .yui-skin-app .app-hd .tagline a:visited { color:#fff;}
.yui-skin-app .app-hd h1 {color:#fff; }
.yui-skin-app .app-hd li a { color:#fff; }
.yui-skin-app .app-hd h1 a:link, .yui-skin-app .app-hd h1 a:active, .yui-skin-app .app-hd h1 a:hover, .yui-skin-app .app-hd h1 a:visited { color: #eaeaea; }
.yui-skin-app .app-hd .app-nav-rhs ul li a:link, .yui-skin-app .app-hd .app-nav-rhs ul li a:visited {color: #CDE; border-bottom: 1px dotted #345; }
.yui-skin-app .app-hd .app-nav-rhs ul li a:hover {color: #fff; border-bottom: 1px dotted #CDE;}

.yui-skin-app .app-hd .tagline a:link, .yui-skin-app .app-hd .tagline a:visited {color: #CDE; border-bottom: 1px dotted #345;}
.yui-skin-app .app-hd .tagline a:hover {color: #fff; border-bottom: 1px dotted #CDE;}
.yui-skin-app .app-hd .app-search #searchInput {background-color:#23B1D6} 
.yui-skin-app .app-hd .app-search #searchButton {background-color:#6CCa49;color:#fff;}

/* Body */
.yui-skin-app .app-bd h1 {color:#f00;}
.yui-skin-app .app-bd h2 {color:#0f00;} 
.yui-skin-app .app-bd h3 { background-color:#A0C2DE; border-color:#064780; color: #456; } 
.yui-skin-app .app-bd h4 { color: #456; }
.yui-skin-app .app-bd h5 { color: #456; }
.yui-skin-app .app-bd { background-color:#EBEBEB; color: #333; }
.yui-skin-app .app-bd .app-block .app-menu ul li a{ border-left: 1px solid #ddd;
  border-top: 1px solid #ddd; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc;
  background: #fff;}
.yui-skin-app .app-bd .app-block .app-menu ul li a:visited {color:#A40000;}
.yui-skin-app .app-bd .app-block .app-menu ul li:hover a {background:#008400; color:#FDDC00;}
.yui-skin-app .app-bd .app-block .app-block-content { border-left: 1px solid #ddd;
  border-top: 1px solid #ddd; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc;
  background: #eee;}

.yui-skin-app .app-bd .app-block .app-block-content .question {background:#FFFEC1;}
.yui-skin-app .app-bd .app-block .app-block-content .question .summary p.title {color:#11197D;}
.yui-skin-app .app-bd .app-block .app-block-content .question .summary span.info {color:#000;}
.yui-skin-app .app-bd .app-block .app-block-content .question .box-answers {background:#2AD221; color: #B47F09;}
.yui-skin-app .app-bd .app-block .app-block-content .question .box-votes {background:#79ADD5; color:#000;}
.yui-skin-app .app-bd .app-block .app-block-content .question .box-views {background:#0C4470; color: #3E1EA3;}
.yui-skin-app .app-bd .app-block .app-block-content .question .box-answers h2 {color: #fff;}
.yui-skin-app .app-bd .app-block .app-block-content .question .box-votes h2 {color: #FFE628;}
.yui-skin-app .app-bd .app-block .app-block-content .question .box-views h2 {color: #fff;}
.yui-skin-app .app-bd .app-block .app-block-content .question .box-answers p {color:#fff}
.yui-skin-app .app-bd .app-block .app-block-content .question .box-votes p {color: #FFE628}
.yui-skin-app .app-bd .app-block .app-block-content .question .box-views p {color: #fff}
.yui-skin-app .app-bd .app-block .app-block-content .question .status .unanswered {color:red;}
.yui-skin-app .app-bd .app-block .app-block-content .question .status .answer-accepted {color:blue;}
.yui-skin-app .app-bd .app-block .app-block-content .question .status .answered {color:black;}

/*users*/
.yui-skin-app .app-bd .app-block .app-block-content .users .list-table {color:#000;}
.yui-skin-app .app-bd .app-block .app-block-content .users .list-table .list-td.td a {color:#11197D;}

/*tags*/
.yui-skin-app .app-bd .app-block .app-block-content .tags a {color: #087782}
.yui-skin-app .app-bd .app-block .app-block-content .tags span.tag-number {color:#FF3328;}

/* Sidebar */
.yui-skin-app .app-bd .app-sidebar h3 {/* background: #fff; border-bottom:1px solid #ccc;border-right:1px solid #ccc; border-left:1px solid #ddd; border-top:1px solid #ddd; color: #333;*/  background-color:#A0C2DE; border-color:#064780; color: #456;}
.yui-skin-app .app-bd .app-sidebar .question-box h4 {color:#6CCa49;}
.yui-skin-app .app-bd .app-sidebar .question-box .question-input {background:#fff; border:3px solid #6CCa49;}
.yui-skin-app .app-bd .app-sidebar .question-box .question-submit {background:#6CCa49; color:#fff}

/* Style the horizontal rules inside .block */
.yui-skin-app .app-bd hr { background-color: #aaa;}

/* Footer */
.yui-skin-app .app-ft { background-color: #ddd;; border-top-style:solid; border-top-color:#bbb; color:#262626; padding-left:20px; }

/* Custom Classes */
.yui-skin-app .gray { color:#999; }
.yui-skin-app .highlight { background-color:#ffffcc; }


/* Uni-form related overrides */
.uniForm .multiField, .uniForm .blockLabels .multiField { width: 60%; }
.uniForm .formHint, .uniForm .blockLabels .formHint { width: 40%; margin-top: .3em; }
.uniForm .textInput, .uniForm select, .uniForm textarea, .uniForm .passwordInput{ border: 2px solid #dfdfdf; background:#fff; }
.ctrlHolder.focused .textInput, .ctrlHolder.focused textarea { border-color: #DFD77D; }
.uniForm .buttonHolder { padding: 10px; background-color: #fafafa; font-size:14px; border-bottom:1px solid #ddd; border-right:1px solid #ddd; border-top:1px solid #eee; border-left:1px solid #ddd; }
.uniForm a.button:link, a.button:visited, a.button:hover, a.button:active, button.button { color: #222; display:block; float:left; margin:0 7px 0 0; background-color: #eee; border:1px solid #bfbfbf; font-size: 1em; line-height: 1.3em; font-weight:bold; cursor:pointer; padding:5px 10px 6px 7px; text-decoration: none; }
.uniForm button.button { width:auto; overflow:visible; padding:4px 10px 3px 7px; /* IE6 */ }
.uniForm button.button[type] { padding:5px 10px 5px 7px; /* Firefox */ line-height:17px; /* Safari */ }
.uniForm *:first-child+html button.button[type] { padding:4px 10px 3px 7px; /* IE7 */ } 
.uniForm button.button img, a.button img { margin:0 3px -3px 0 !important; padding:0; border:none; width:16px; height:16px; }
.uniForm button.button:hover, a.button:hover { background-color:#dedede; } 
.uniForm button.button:active, a.button:active { background-color:#e5e5e5; }

































