{% extends "app_base.html" %}
<!-- index.html -->
{% load i18n extra_tags humanize extra_filters %}
{% block title %}{% spaceless %}{% trans "Home" %}{% endspaceless %}{% endblock %}
{% block meta %}<meta name="keywords" content="{{ settings.APP_KEYWORDS }}" />
        <meta name="description" content="{{ settings.APP_DESCRIPTION }}" />{% endblock %}
{% block forejs %}
       <script type="text/javascript">
        $().ready(function(){
            var tab_id = "{{ tab_id }}";
            $("#"+tab_id).attr('className',"on");
            $("#nav_questions").attr('className',"on");
        });

        </script>
{% endblock %}
{% block content %}
<div class="app-block">
    <h3>{% trans "Questions" %}</h3>
    <div class="clear"></div>
    <div class="app-menu">
      <ul>
        <li><a id="all" href="{% url questions %}" title="{% trans "all questions" %}" >{% trans "all questions" %}</a></li>
        <li><a id="mostvoted" href="?sort=mostvoted" title="{% trans "most voted questions" %}" >{% trans "most voted" %}</a></li>
        <li><a id="hottest" href="?sort=hottest" title="{% trans "hottest questions" %}" >{% trans "hottest" %}</a></li>
    	<li><a id="latest" href="?sort=latest" title="{% trans "last updated questions" %}" >{% trans "newest" %}</a></li>
      </ul>
    <div class="clear"></div>   
    </div> 

<!-- 问题列表 -->
<div class="app-block-content">
    {% for question in questions %}
    <div class="qstA">
        <h2>
            <a href="{{ question.get_absolute_url }}" title="{{ question.summary }}...">
            {{ question.get_question_title }}
            </a>
        </h2>
        <div class="stat">
            <table>
	            <tr>
                    <td><span class="num">{{ question.answer_count|intcomma }}</span> </td>
                    <td><span class="num">{{ question.score|intcomma }}</span> </td>
                    <td><span class="num">{{ question.view_count|qna_intword|safe }}</span> </td>
	            </tr>  
                <tr>
                    <td><span class="unit">{% trans "answers" %}</span></td>
                    <td><span class="unit">{% trans "votes" %}</span></td>
                    <td><span class="unit">{% trans "views" %}</span></td>
	            </tr> 
            </table>
        </div>
        <div class="summary">
            {{ question.summary }}...
        </div>
        {% if question.wiki %}
        <span class="from wiki">{% trans "community wiki" %}</span>
        <span class="date" title="{{ question.last_activity_at }}">{{ question.last_activity_at|timesince }} {% trans 'ago' %}</span>
        {% else %}
        <div class="from">
            {% comment %}{% gravatar question.last_activity_by 24 %}{% endcomment %}
            <span class="author"><a href="{{ question.last_activity_by.get_profile_url }}">{{ question.last_activity_by }}</a></span>
            <span class="score">{% get_score_badge question.last_activity_by %} </span>
            <span class="date" title="{{ question.last_activity_at }}">{{ question.last_activity_at }}</span>
        </div>
        {% endif %}
        <div class="tags">
        {% for tag in question.tagname_list %}
        {% if tag %}
        <a href="{% url tag_search tag|urlencode %}" title="{% trans "see questions tagged" %}'{{ tag }}'{% trans "using tags" %}" rel="tag">{{ tag }}</a>
        {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endfor %}
    <div class="question">
      <div class="summary">
        <p class="title">some dummy question</p>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum"</p>
        <span class="info"><a>User</a> | Created 2 days ago</span>
      </div>           
          <div class="box-answers"><h2>10</h2><p>answers</p></div>
          <div class="box-votes"><h2>20</h2><p>votes</p></div>
          <div class="box-views"><h2>30</h2><p>views</p></div>                
    <div class="clear"></div> 
    <div class="tags">
      <a rel="tag" title="" href="">Lorem<span class="tag-number">(10)</span></a>                
      <a rel="tag" title="" href="">Ipsum<span class="tag-number">(15)</span></a> 
      <a rel="tag" title="" href="">dolor<span class="tag-number">(8)</span></a>   
      <div class="clear""></div>
     </div>     
    </div>
    <hr />
<div class="question">
      <div class="summary">
        <p class="title">some dummy question</p>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum"</p>
        <span class="info"><a>User</a> | Created 2 days ago</span>
      </div>           
          <div class="box-answers"><h2>10</h2><p>answers</p></div>
          <div class="box-votes"><h2>20</h2><p>votes</p></div>
          <div class="box-views"><h2>30</h2><p>views</p></div>                
     <div class="clear"></div> 
     <div class="tags">
      <a rel="tag" title="" href="">Lorem<span class="tag-number">(10)</span></a>                
      <a rel="tag" title="" href="">Ipsum<span class="tag-number">(15)</span></a> 
      <a rel="tag" title="" href="">dolor<span class="tag-number">(8)</span></a>   
      <div class="clear""></div>
     </div>  
    </div>
    <hr />
    
</div>
</div>
{% endblock %}

{% block sidebar %}
{% if settings.APP_INTRO and not request.user.is_authenticated %}
<div class="app-block">
	<h3>{% trans "welcome to website" %}</h3>
	<div class="yuiapp-content">
      {{ settings.APP_INTRO|safe }}
	  <div class="more"><a href="/about">{% trans "about" %} »</a></div>
	  <div class="more"><a href="/faq">{% trans "faq" %} »</a></div>
	</div>
</div>
{% endif %}
<div class="question-box">
<h4>Ask a Question</h4>
           <form method="post" action="#">
           <textarea class="question-input"></textarea>
           <input type="submit" value="Submit!" class="question-submit" />
           </form>
</div>
<div class="app-block">
	<h3>{% trans "Recent tags" %}</h3>
	<div class="app-block-content">
         <p class="tagsbox">
        {% for tag in tags %}
            <a rel="tag" 
				title="{% blocktrans with tag.name as tagname %}see questions tagged '{{tagname}}'{% endblocktrans %}" href="{% url tag_search tag.name|urlencode %}">{{ tag.name }}</a>
        {% endfor %}
        </p>
        <div class="more"><a href="/tags">{% trans "popular tags" %} »</a> </div>
    </div>
</div>
<div class="app-block">
    <h3>{% trans "Recent awards" %}</h3>
        <div class="app-block-content">
             <ul class="badge-list">
             {% for award in awards %}
                <li>
                <a href="/badges/{{award.badge_id}}/{{award.badge_name}}" title="{{ award.badge_description }}" class="medal">
                <span class="badge{{ award.badge_type }}">&#9679;</span>&nbsp;{{ award.badge_name }}</a> {% trans "given to" %}
                <a href="/users/{{award.user_id}}/{{award.user_name}}">{{ award.user_name }}</a>
                </li>
            {% endfor %}
            </ul>
        	<div class="more"><a href="/badges/">{% trans "all awards" %} »</a> </div>
         </div>
</div>
<div id="feeds">
<a href="/feeds/rss" title="{% trans "subscribe to last 30 questions by RSS" %}">{% trans "subscribe to the questions feed" %}</a>
</div>
{% endblock %}
{% block tail %}
<div style="padding:5px 0 5px 5px;">
<span class="evenMore">{% trans "Still looking for more? See" %} <a href="{% url questions %}">{% trans "complete list of questions" %}</a> {% trans "or" %} <a href="/tags/">{% trans "popular tags" %}</a>{% trans "." %} {% trans "Please help us answer" %} <a href="{% url unanswered %}">{% trans "list of unanswered questions" %}</a>{% trans "." %}</span>
</div>
{% endblock %}
<!-- index.html -->




































